body {
    background-color: aqua;
    max-width: 1200px;
    margin: auto;
}

.main-formular {
    position: relative;
    top: 10rem;
    background-color: aquamarine;
    padding: 0.5rem;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

.main-formular h2 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    padding: 10px 10px;
    margin: 0.2rem;
}

.fullname {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.errorMarking {
    border: 2px solid red;
}